// 样式变量

// 控件高度
@ControlHeight: 28px;

// 主色调
@PrimaryColor: #001529;

// 头部高度
@LoginHeaderHeight: 80px;
@HeaderHeight: 50px;

// 头部logo高度
@HeaderLogoHeight: 30px;

// 边框阴影和颜色
@BorderColor: rgba(0, 0, 0, 0.1);
@BottomShadow: 0 2px 5px rgba(0, 0, 0, 0.1);
@RightShadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
@TopShadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
@LeftShadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
@AllShadow: -2px -2px 5px rgba(0, 0, 0, 0.1), 2px 2px 5px rgba(0, 0, 0, 0.1);

// 登录框背景色
@LoginBoxBgColor: rgba(0, 0, 0, 0.1);

// 菜单背景色
@SiderBgColor: rgb(247, 248, 250);
@MenuBgColor: rgb(247, 248, 250);
@MenuSelectedBg: rgb(227, 232, 240);
