@import '@/assets/css/stellar-var.less';

// 复写 Ant Design 样式
.ant-layout-sider-has-trigger {
    padding-bottom: @HeaderHeight;
}

.ant-layout-sider .ant-layout-sider-trigger {
    height: @HeaderHeight;
    line-height: @HeaderHeight;
    font-weight: bolder;
    box-shadow: @TopShadow;
}

.ant-layout-sider .ant-layout-sider-children {
    padding: 10px 0;
}